body{
  background-color: #1a1a1a;
  color: #e6e6e6;
  padding: 1%;
  font-family: 'Merriweather', serif;
}

h1{
  text-align: center;
}

h1,h3{
  font-family: 'Special Elite', cursive;
}

a{
  color: #a6a6a6;
}

ul{
  list-style-type: none;
  list-style-position: inside;
}
